body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background-color: #513C4C; /* Deep Grey for the main body */
    color: #513C4C; /* Light Grey for text */
}

.container {
    margin: 0 auto;
}

.header, .footer {
    background-color: #C8A2C8; /* Lilac */
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    margin-bottom: 40px;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    color: #513C4C; /* Light Grey */
}

.logo:hover {
    cursor: default;
}

.to-bottom {
    text-decoration: none;
    color: white; /* Royal Purple */
    background-color: #513C4C; /* Light Grey */
    padding: 10px 20px;
    border-radius: 5px;
}

.to-bottom:hover {
    background-color: #ac729e;
}

.articles {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    padding: 20px; /* Padding top and bottom */
}

.card {
    padding: 10px;
    background-color: #C8A2C8; /* Royal Purple */
    border-radius: 10px;
    margin-bottom: 20px; /* Space between cards */
    width: 25%; /* Adjust for narrower or wider cards */
    position: relative;
    text-align: center;
}

.title {
    font-size: 18px;
    color: #513C4C; /* Light Grey */
}

form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 8px;
    grid-area: form;
    grid-template-rows: auto;
    grid-template-areas: 
    "contactme contactme"
    "first-name last-name"
    "email email"
    "comment comment"
    "submit submit";
}

.footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    padding: 30px;
    box-shadow: 0px -2px 5px rgba(0, 0, 0, 0.1);
    grid-template-areas: 
    "form blurb";
}

.contactme {
    grid-area: contactme;
}

.first-name {
    grid-area: first-name;
    min-height: 2em;
}

.last-name {
    grid-area: last-name;
    min-height: 2em;

}

.email {
    grid-area: email;
    min-height: 2em;

}

.submit {
    grid-area: submit;
    min-height: 2em;
}

.comment {
    grid-area: comment;
}

  
input, textarea {
    margin-bottom: 1.2em;
    border: 1px solid #4B0082;
    border-radius: 4px;
}
  
button {
    padding: 0.7em 1.4em;
    background-color: #513C4C;
    color: white;
    border: none;
    border-radius: 4px;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}
  
button:hover {
    background-color: #ac729e;
}

  
.contactme {
    font-size: 24px;
    font-weight: bold;
    color: black; /* Black */
    text-align: center;
}

.blurb {
    margin-top: 100px;
    margin-left: 50px;
    grid-area: blurb;
}


.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    transition: opacity 0.75s ease-in-out;
}

.modal.show {
    display: block;
    opacity: 1;
}
  
.modal-content {
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
    background-color: #C8A2C8;  /* Same as your card background */
    margin: 15% auto;  /* Centering */
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    border-radius: 10px;  /* Same as your card border-radius */
    color: #513C4C;  /* Same as your card text color */
}

.modal-content h1 {
    font-size: 2em;
    color: #513C4C;
    text-align: center;
}

.modal-content p {
    font-size: 1.2em;
    color: #513C4C;
}
  
.close {
    color: #513C4C;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
  
.close:hover,
.close:focus {
    color: #ac729e;
    text-decoration: none;
    cursor: pointer;
}

.card:hover {
    background-color: #ac729e;
    cursor: pointer;
}

.title:hover {
    cursor: pointer;
}


/* Media query for mobile responsiveness */
@media only screen and (max-width: 768px) {
    .card {
        width: 80%;
    }
    .footer {
        grid-template-columns: 1fr;
        grid-template-areas: 
        "form"
        "blurb";
    }
    .modal-content {
        width: 90%;
    }
    .blurb, .contactme {
        text-align: center;
    }

    input, textarea {
        width: 100%;
        max-width: 300px;
        font-size: 16px;
    }
    
    button.submit {
        width: 100%;
        max-width: 300px;
    }
}
